@import "font-awesome";

table {
  border-collapse:separate; 
  border-spacing: 0 1em;
}
.button {
  margin-left: 10px;
  float: right;
}
.text {
  width: 30%;
}

.well1 {
  width: 100%;
  margin-bottom: 15px;
}
.tr
{
  padding-bottom: 10px;
    padding-top: 10px;
}
.icon {
  width: 10%;
}
